@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Як оформити покупку б/у автомобіля</h2>
        <ul>
            <li>Є кілька способів придбати б/у авто. Вони відрізняються ціною, швидкістю і додатковими перевірками.</li>
            <li>
                Найпростіший спосіб - це провести перереєстрацію онлайн через портал державних послуг iGov.org.ua, по суті вона така ж сама як при реєстрації нового авто.

                Для цього Вам необхідно:

                Перейти за посиланням, вибрати свій регіон і авторизуватися. Якщо наразі немає вашого регіону - скористайтеся іншим способом.
                Заповнити всі поля і натиснути на кнопку "Замовити послугу".
                Отримати на SMS і лист електронної пошти з реквізитами для оплати послуги та датою відвідування сервісного центру (або з відмовою, якщо надана Вами інформація не пройшла перевірку).
                У зазначену дату під'їхати зі всіма документами (перелік нагадають в електронному листі) та квитанцією про сплату в сервісний центр МВС і закінчити процедуру оформлення.</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Нотаріальне оформлення</h2>
        <ul>
            <li>
                Це самий затратний, але і найбільш безпечний спосіб, так як нотаріус перевіряє всі можливі проблеми, пов'язані з купівлею. Право власності переходить покупцеві з моменту нотаріального оформлення угоди і вже ніякі проблеми продавця(не погашені кредити та різні обмеження що до продажу) не будуть Вам дошкуляти в майбутньому.

                Нотаріус перевіряє всі документи на автомобіль, а також «пробиває» машину по базах:

                Невиконані кредитні зобов'язання;
                Чи не знаходиться під арештом;
                Відсутність обмежень на відчуження;
                перевірити на порталі iGov Повноваження продавця в Реєстрі довіреностей.
                При собі мати:

                паспорт або інший документ, здатний засвідчити особу;
                індивідуальний податковий номер (ІПН);
            </li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Оформлення договору купівлі-продажу в сервісному центрі</h2>
        <ul>
            <li>
                Процедура така ж, як при нотаріальному оформленні, але ви економите на послугах нотаріуса і самостійно перевіряєте автомобіль і продавця. Послуги сервісного центру при оформленні договору купівлі-продажу надаються безкоштовно.

                Вам необхідно:

                Оформити угоду.
                Оплатити обов'язкові платежі по перереєстрації.
                Далі з договором, квитанціями, своїм паспортом і технічним паспортом на автомобіль звернутися в єдине вікно сервісного центру.
                При зміні власника, знімати автомобіль з обліку не обов'язково, але це може знадобитися, наприклад, для зміни номерів.

                При собі мати і продавцю і покупцю оригінали і пару копій:

                паспорт або інший документ, здатний засвідчити особу;
                індивідуальний податковий номер (ІПН);
                Якщо продавець перебуває в шлюбі, для офіційного оформлення договору від нього потрібна письмова згода пари на продаж авто, нотаріально завірене, або присутність чоловіка (дружини) з паспортом або іншим документ, здатним засвідчити особу.

                При купівлі б/у авто необхідно перевірити, чи не перебуває машина в одній з баз.


            </li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Купівля б/у автомобіля неофіційно</h2>
        <ul>
            <li>
                Продавець надає покупцеві нотаріально завірену відомість від свого імені. Покупець надає продавцеві обумовлену суму і отримує автомобіль.

                Цей спосіб покупки є самим не надійним, тому не рекомендуємо його використовувати з наступних причин:

                Продавець з юридичної точки зору залишається власником.
                Якщо у продавця виникнуть фінансові проблеми (наприклад, прострочений кредит), то на автомобіль може бути накладено арешт.
                Після закінчення терміну дії довіреності продавець зможе розпоряджатися автомобілем на свій розсуд.
                Продавець може в будь-який момент скасувати довіреність або видати ще величезну кількість подібних довіреностей (це передбачено ст. 249 Цивільного кодексу України), а потім зажадати повернути автомобіль.
                у разі смерті власника (продавця), довіреність втрачає свою законну силу і транспорт переходить у власність нащадків.
                При розлученні продавця, якщо авто було у спільній власності, Ви теж втратите право розпоряджатися машиною.
            </li>

        </ul>
    </div>
</div>
